<div class="sidebar">
  <div class="sidebar__wrapper" *ngIf=" message;else empty">
    <div class="sidebar__content">
      <h3 class="sidebar__nick">{{message.name}}</h3>
      <div class="sidebar__date">
        {{message.date | date:'dd.MM.YYYY HH:mm:ss'}}
      </div>
      <div class="sidebar__message">
        {{message.message}}
      </div>
    </div>
    <div class="sidebar__actions">
      <button class="button sidebar__button" (click)="open(content)">
        Редактировать &nbsp;
        <i class="bi bi-pencil"></i>
      </button>
      <button class="button sidebar__button button--danger" (click)="remove($event, message.id)">
        Удалить &nbsp;
        <i class="bi bi-trash3"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="sidebar__empty"> Ни одна запись не выбрана.</div>
</ng-template>

<ng-template #content let-modal >
  <app-form [modal]="modal" [initialValues]="message!"></app-form>
</ng-template>
