.table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70vw;

  &__search{
    position: relative;
    input{
      padding-left: 2rem;
      width: 100%;
      border-top: none;
      border-right: none;
      border-left: none;
      border-color: #ccc;
    }
    &-icon{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
