<div class="table">


    <div class="table__head-wrap">
      <div class="table__search">
        <input  type="text" placeholder="Поиск..."[(ngModel)]="search" (ngModelChange)="modelChange()">
        <div class="table__search-icon">
          <i class="bi bi-search"></i>
        </div>
      </div>
      <div class="table__head">
        <div class="table__item table__item--head" [style]="{width: col.width + '%'}" *ngFor="let col of tableConfig">{{col.title}}</div>
        <div class="table__item table__item--head table__remove" [style]="{width: 5 + '%'}">
        </div>
      </div>

    </div>


    <div class="table__body">
      <app-table-content [tableConfig]="tableConfig" (changeActive)="onRowClick($event)" [url]="getUrl()"></app-table-content>
<!--      <ng-container *ngIf="(this.messageService.$messages | async) as messages">-->

<!--        <div-->
<!--          class="table__row"-->
<!--          [ngClass]="{active: active === message.id}"-->
<!--          *ngFor="let message of messages |filter: search"-->
<!--          (click)="onRowClick(message.id)">-->
<!--          <div-->
<!--            class="table__item"-->
<!--            *ngFor="let col of tableConfig"-->
<!--            [style]="{width: col.width + '%'}"-->
<!--          >-->
<!--            {{message[col.prop].toString() | format: col.prop : col.format}}-->
<!--          </div>-->
<!--          <div-->
<!--            class="table__item table__remove"-->
<!--            [style]="{width: 5 + '%'}"-->
<!--            (click)="remove($event,message.id)"-->
<!--          >-->
<!--            <span>&times;</span>-->
<!--          </div>-->


<!--        </div>-->

<!--      </ng-container>-->
    </div>
    <div class="pagination">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="limit"
        [collectionSize]="this.messageService.$count.value"></ngb-pagination>
    </div>
<!--  <app-pagination [page]="page"></app-pagination>-->
</div>
