<div class="table">
  <div class="table__wrapper">
    <div class="table__search">
      <input  type="text" placeholder="Поиск...">
      <div class="table__search-icon">
        <i class="bi bi-search"></i>
      </div>
    </div>

    <div class="table__head">
      <div class="table__item table__item--head" [style]="{width: row.width + '%'}" *ngFor="let row of tableConfig">{{row.title}}</div>
    </div>

    <div class="table__body">

      <ng-container *ngIf="$messages | async as messages">

        <div class="table__row" *ngFor="let message of messages">
          <div
            class="table__item"
            [style]="{width: row.width + '%'}"
            *ngFor="let row of tableConfig">
            {{message.id}}
          </div>


<!--          <div class="table__item">{{message.id}}</div>-->
<!--          <div class="table__item">{{message.nickname}}</div>-->
<!--          <div class="table__item">{{this.messageService.truncate(message.message)}}</div>-->
<!--          <div class="table__item">{{ message.datetime |  date:'dd.MM.YYYY HH:mm:ss'}}</div>-->
        </div>
      </ng-container>

    </div>
  </div>

  <app-pagination></app-pagination>
</div>
